* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

.triangle1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sun {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: yellow;
}
