/* .triangle2 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 150px solid pink;
    top: 31px;
    left: 31px;
  } */

.triangle1 {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 120px;
  height: 100px;
  background: aquamarine;
  clip-path: polygon(50% 0%, 100% 50%, 50% 50%, 0% 50%);
  /* border-top-left-radius: 500px; */
}

.triangle2 {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 500px;
  transform: rotate(135deg);
  top: 381px;
  left: 31px;
}

/* .triangle1::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    width: 60px;
    height: 60px;
    background: aquamarine;
    border-radius: 50%;
  } */

/* .triangle2 {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 500px solid transparent;
      border-right: 500px solid transparent;
      border-bottom: 150px solid pink;
      top: 31px;
      left: 31px;
    } */

/* .triangle1 {
      position: absolute;
      top: 100px;
      left: 100px;
      width: 0;
      height: 0;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 100px solid aquamarine;
    
      border-top-right-radius: 200px;
    } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

/* .triangle2 {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 500px solid transparent;
        border-right: 500px solid transparent;
        border-bottom: 150px solid pink;
        top: 31px;
        left: 31px;
      } */

.triangle1 {
  position: absolute;
  top: 100px;
  left: 100px;
}

/* .triangle2 {
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: aquamarine;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 500px;
        transform: rotate(135deg);
        top: 381px;
        left: 31px;
      } */

/* .triangle1::before {
        content: "";
        position: absolute;
        top: -30px;
        left: -30px;
        width: 60px;
        height: 60px;
        background: aquamarine;
        border-radius: 50%;
      } */

/* .triangle2 {
          position: absolute;
          width: 0;
          height: 0;
          border-left: 500px solid transparent;
          border-right: 500px solid transparent;
          border-bottom: 150px solid pink;
          top: 31px;
          left: 31px;
        } */

/* .triangle1 {
          position: absolute;
          top: 100px;
          left: 100px;
          width: 0;
          height: 0;
          border-left: 60px solid transparent;
          border-right: 60px solid transparent;
          border-bottom: 100px solid aquamarine;
        
          border-top-right-radius: 200px;
        } */
